vti_encoding:SR|utf8-nl
vti_author:SR|LENOVO\\lenovo
vti_modifiedby:SR|LENOVO\\lenovo
vti_timelastmodified:TR|06 Feb 2012 03:14:26 -0000
vti_timecreated:TR|06 Feb 2012 03:14:26 -0000
vti_cacheddtm:TX|06 Feb 2012 03:14:26 -0000
vti_filesize:IR|216
vti_extenderversion:SR|5.0.2.2623
vti_lineageid:SR|{9FC23C1C-AD98-4E2F-849C-8C6F5DCC618F}
vti_backlinkinfo:VX|contactus.html index.htm ourexperience.html aboutus.html ourteam.html oursystems.html ourservices.html
